<div class="page-header">
  <h1><%= @blog_post.title %></h1>
  <small>by <%= @blog_post.author.full_name %>, <%= time_ago_in_words(@blog_post.created_at) %> ago</small> 
</div>

<%= @blog_post.content.html_safe %>

<hr>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
	<%= link_to 'Back', blog_path %>
<% else %>
	<%= link_to 'Back', blog_path %>
<% end %>