<div class="row">
	<%= render 'admin_panel/sidebar_nav' %>
	<div class="span9">
		<div class="hero-unit">
		  <h1><%= t "admin_panel.dashboard" %></h1>
		  <p><%= t "admin_panel.welcome" %> <%= current_user.full_name%></p>
		</div>
		<%= bootstrap_flash %>
		<div class="well summary">
			<ul>
				<li style="width: 25%">
					<a href="<%= admin_contact_messages_path %>"><span class="count"><%= (@new_messages.length.to_s + '/' + @contact_messages.length.to_s) %></span> 
					<% if @new_messages.length > 1 %>
						<% t "admin_panel.new_messages" %> <%= t "admin_panel.contact_messages" %>
					<% elsif @new_messages.length == 1 %>
						<% t "admin_panel.new" %> <%= t "admin_panel.message" %>
					<% else %>
						<%= t "admin_panel.contact_messages" %>
					<% end %>
					</a>
				</li>
				<li style="width: 25%">
					<a href="<%= admin_users_path %>"><span class="count"><%= @users.length %></span> <%= t "admin_panel.users" %></a>
				</li>
				<li style="width: 25%">
					<a href="<%= admin_files_path %>"><span class="count"><%= @files.length %></span> <%= t "admin_panel.files" %></a>
				</li>
				<li class="last" style="width: 25%">
					<a href="<%= admin_posts_path %>"><span class="count"><%= @posts.length %></span> <%= t "admin_panel.posts" %></a>
				</li>
			</ul>
		</div>
	</div>
</div>