<div class="row">
	<%= render 'admin_panel/sidebar_nav' %>
	<div class="span9">
		<div class="page-header">
		  <h1><%= t "admin_panel.configurations" %> </h1>
		</div>
		<%= bootstrap_flash %>
		<div class="media thumbnail" style="padding: 10px; padding-bottom: 5px;">
			<%= bootstrap_form_for(@config, :url => config_update_path, :method => 'POST') do |f| %>
			  <%= f.alert_message "Please fix the errors below." %>

			  <div class="form-inputs">
			    <%= f.text_field :website_name, :label => (t 'admin_panel.website_name'), class:'input-xlarge' %>
			    <%= f.text_field :tagline, :label => (t 'admin_panel.tagline'), class: 'input-xxlarge' %>
			    <%= f.text_field :website_link, :label => (t 'admin_panel.website_link'), class:'input-xlarge' %>
			    <%= f.select :default_language, ["en", "pt-BR"],  :label => (t 'admin_panel.default_language'), help: ("<i>* "+(t "admin_panel.language_hint")+"</i>").html_safe %>
			    <%= f.email_field :contact_email, :label => (t 'admin_panel.contact_email'), class:'input-xlarge' %>
			    <hr>
			    <%= f.form_group :maintenance_mode, class: 'bootstrap_switch_group' do %>
			    		<%= f.check_box :maintenance_mode, :label => (t 'admin_panel.maintenance_mode'), class: 'bootstrap_switch',
					data: { on_text: (t 'admin_panel.on_switch'), off_text: (t 'admin_panel.off_switch') } %>
			    <% end %>
			    <%= f.text_field :maintenance_title, :label => (t 'admin_panel.maintenance_title'), class:'input-xlarge' %>
			    <%= f.text_area :maintenance_message, :label => (t 'admin_panel.maintenance_message'), class:'input-block-level'  %>

			  </div>

			  <div class="form-actions" style="margin-left: -10px; margin-right: -10px; margin-bottom: -30px;">
			    <%= f.submit (t 'admin_panel.update_config_btn'), class: 'btn btn-success' %>
			  </div>
			<% end %>
		</div>
		
	</div>
</div>