<div class="row">
	<%= render 'admin_panel/sidebar_nav' %>
	<div class="span9">
		<div class="page-header">
		  <h1><%= t "admin_panel.users" %></h1>
		</div>
		<table class="table table-bordered">
		  <thead>
		    <tr>
			 <th>Image</th>
		      <th>Name</th>
		      <th>Email</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
			   <th><%= image_tag user.avatar.thumb.to_s if user.avatar != nil %></th>
		        <td><%= user.full_name %></td>
		        <td><%= user.email %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>