<p><%= t 'reset_password.hello'%> <%= @resource.full_name %>!</p>

<p><%= t 'reset_password.reset_text'%></p>

<p><%= link_to (t 'reset_password.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t 'reset_password.not_requested'%></p>
<p><%= t 'reset_password.password_will_not_change'%></p>

<hr>
<% @config = Info.first %>
<p><i>Mensagem enviada pelo site <%= @config.website_link != nil ? (link_to @config.website_name, @config.website_link) : @config.website_name  %>.</i></p>