<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @upload.title %>
</p>

<p>
  <strong>File:</strong><br>
  <% if @upload.file.file.content_type == 'image/jpeg' || @upload.file.file.content_type == 'image/png' %>
 	<%= image_tag @upload.file.to_s if @upload.file != nil %>
  <% else %>
  	<%= link_to @upload.title, @upload.file.to_s %>
  <% end %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @upload.desciption %>
</p>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', admin_files_path %>
